{% extends 'layoutFormResa.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{  asset('css/profilUsercss.css')}}">

{% endblock %}

{% block formResa %}
 <div class="dateur">   <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
 </div>
    <div class="container-fluid">

        <form>
            <div class="form-group">
                <label for="exampleInputDate">Date souhaitée</label><br/>
                <input type="text" id="datepicker">
            </div>
            <div class="form-group">
                <label for="exampleInputActi">Activité(s) choisie(s)</label><br/>
                <input type="radio" name="batiment" value="batiment" checked> Visite des batiments<br>
                <input type="radio" name="materiel" value="materiel"> Visite du parc matériel<br>
                <input type="radio" name="tracteur" value="tracteur"> Tour en tracteur<br/>
                <input type="radio" name="traite" value="traite"> Traite<br/>
            </div>
            <div class="form-group">
                <label for="exampleInputAdult">Nombre d'adultes</label>
                <input type="number" class="form-control" id="exampleInputAdult" placeholder="2">
            </div>
            <div class="form-group">
                <label for="exampleInputChild">Nombre d'enfants</label>
                <input type="number" class="form-control" id="exampleInputChild" placeholder="3">
            </div>
            <button type="button" class="btn-lg btn-primary reservez" onclick="alert('Merci de votre reservation. Vous recevrez un mail de confirmation dans ' +
             'moins de 24h.')">Réservez</button>
        </form>
    </div>

{% endblock %}