{% block header %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img src="{{ asset('images/logo.png') }}" class="img-responsive logoVMA">
            </div>
        </div>
    </div>
</header>
{% endblock %}