{% extends 'layoutProfilUser.html.twig' %}

{% block profilUser %}
<div class="container-fluid pageUser">
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ asset('images/valerie.jpeg') }}" class="img-responsive img-circle imgProfilUser center-block">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <i class="fa fa-search fa-5x center-block" aria-hidden="true"></i>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>
{% endblock %}