{% extends 'layoutProfilAgri.html.twig' %}

{% block profilAgri %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ asset('images/agri1.jpeg') }}" class="img-responsive img-circle imgProfil center-block">
        </div>
        <div class="col-lg-6 txtProfil">
            <p>Dolorem ullam facilis itaque tempore totam. Eos sit saepe repudiandae dolores. Officia soluta modi
                cumque est. Eum quia nesciunt ducimus reiciendis et.
                Excepturi reprehenderit deserunt officiis ab. Ratione possimus aut dolor. Officiis eum amet ipsum
                consequatur quisquam. Dolor quae aspernatur ut numquam veritatis blanditiis qui. Explicabo aperiam est
                corrupti. Dignissimos quisquam dolores rerum saepe quas ut commodi.
            </p>
        </div>
    </div>
</div>
{% endblock %}