{% extends 'layoutProfilUser.html.twig' %}

{% block profilUser %}
<div class="container-fluid pageUser">
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ asset('images/valeriecircle.png') }}" class="img-responsive imgProfilUser center-block">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-offset-2 col-xs-4 align">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
            <p class="titreBouton">Rechercher</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-offset-2 col-xs-4 align">
            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
            <p class="titreBouton">Autour de moi</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align">
            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            <p class="titreBouton">Mon calendrier</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align">
            <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
            <p class="titreBouton">Mes favoris</p>
        </div>
    </div>
</div>
{% endblock %}