.imgProfilUser {
    width: 40%;
    margin-bottom: 10%;
}

body {
    background-color: #98CBBE;
    background-size: 100%;
}


.align {
    border: dashed white;
    text-align: center;
    margin: 1%;
}

.titreBouton {
    color: white;
}

.fa-5x{
    font-size: 5em;
    text-align: center;
    color: white;
    margin-top: 2%;
}
