.imgProfilUser {
    width: 40%;
    margin-bottom: 5%;
}

body {
    background-color: #98CBBE;
    background-size: 100%;
}


.align {
    text-align: center;
}

.titreBouton {
    color: white;
}


.bas_de_page{
    background-color: #98CBBE;

}

#infobulle{
    height: 200px;
    width: 300px;
}

.logos{
    height: 50px;
    width: 50px;
}

.carre {
    margin: 5%;
    margin-left: 12%;
    width: 150px;
    height: 150px;
    border: dashed white;
}

.imgCarre {
    margin-top: 30%;
    width: 40%;
}

.autour:hover {
    text-decoration: none;
}

.logos_footer{
    padding-top: 20px;
}