.imgProfilUser {
    width: 40%;
    margin-bottom: 10%;
}

body {
    background-color: #98CBBE;
    background-size: 100%;
}


.align {
    border: dashed white;
    text-align: center;
    margin: 1%;
}

.titreBouton {
    color: white;
}

.fa-5x{
    font-size: 5em;
    text-align: center;
    color: white;
    margin-top: 2%;
}

.bas_de_page{
    background-color: #98CBBE;

}

#infobulle{
    height: 200px;
    width: 300px;
}

.logos{
    height: 50px;
    width: 50px;
}